*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lucida Handwriting;
}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
}
.containerqr{
    position: relative;
    min-height: 100vh;
}
.bgqr{
    width: 100%;
    height:100%;
    position: relative;

}
.bgqr::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("giphy3.gif");
    z-index: -2;
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    background-attachment: fixed;
}

.menuqr{
    position: relative;
    width: 95%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
}
.logoqr {
    font-size: 4rem;
    color: #fff;
    animation: logoqr infinite 15s linear;
}
@keyframes logoqr {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.menuqr ul{
    display: flex;
    transition: 0.4s;
    grid-gap: 10px;
    
   
}
.menuqr ul li{
    padding: 0 50px;
    transition: 0.4s;
}
.menuqr ul li a{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    
}
.box-bgqr1{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.menuqr .box-bgqr1:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}

.containqr .headerqr{
    transition: 0.5s;
    animation: headerqr infinite 1s linear;
    animation-direction: alternate;
}
.containqr .headerqr h3{
    font-size: 40px;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(3, 25, 28) ;
    position: relative;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
    cursor: default;
}
.containqr .headerqr h1{
    font-size: 40px;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(3, 25, 28) ;
    position: relative;
    letter-spacing: 1px;
    text-align: center;
    cursor: default;
}

.containqr .headerqr{
    width: 100%;
    opacity: 1;
    
}




.containqr .boxqr, .h2{
    font-size: 40px;
    text-shadow:0.05em 0.05em rgb(6, 33, 30) ;
    
}
.containqr .headerqr:hover{
    transform: translateY(-15px);
    
}
.containqr .boxqr:hover{
    transform: translateY(-15px);
}

@keyframes headerqr {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
      
    }
  }

  .Scanqr1 .Scanqr{
    background-image: url("g.gif");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    background-position-x: 10px;
    filter: brightness(80%);
    border: 3px solid rgb(255, 255, 255);
    color: #fff;
    cursor: pointer;
    
    font-weight: bold;
    text-align: center;
    width: 650px;
    height: 60vh;
}
.Scanqr1{
    text-align: center;
    margin-top: 30px;
    margin-left: 28.6%;
    position:absolute;
    background-attachment: fixed;
    
    
}
.Scanqr1 li{
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    text-shadow: 0.05em 0.05em rgb(0, 0, 0);
    
}
.Scanqr:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}