* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Bahnschrift SemiBold';
    font-style: normal;
}

* a {
    text-decoration: none;
}

* li {
    list-style: none;
}
.containerz{
    position: relative;
    min-height: 100vh;
    min-width: 200vh;
    
}
.header-webz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-image: url("fireflies2.gif");
    
    color: #fff;
}
.menuoz{
    position: relative;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 0px;
    border: 2px solid rgb(0, 0, 0);
    
}
.logorz {
    font-size: 4rem;
    color: #fff;
    animation: logorz infinite 15s linear;
}

.menuoz ul{
    display: flex;
    transition: 0.4s;
    grid-gap: 10px;
    width: 22%;
   
   
}
.menuoz ul li{
    padding: 0 50px;
    transition: 0.4s;
}
.menuoz ul li a{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    
}
.bgrz {
    
    width: 100%;
    height: 100%;
    position: relative;
}
.bgrz::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-image: url("giphy3.gif");
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    background-attachment: fixed;
}

.body-CreateAccountz {
    margin: auto auto;
    top: 50px;
    width: 60%;
    background-color: aquamarine;
    padding: 100px;
    background-size: cover;
    text-align: center;
    position: relative;
    
    background-image: url("co4.webp");
    border-radius: 50px;
    text-shadow:0.1em 0.1em rgb(0, 0, 0) ;
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    cursor: default;
    
}
.crz:hover{
    transform: translateY(-5px);
   
 }
.bodyz h2,.crz {
    margin-top: -20px;
    border: 2px solid rgb(0, 0, 0);
    background-image: url("giphy.gif");
    border-radius: 25px;
    top: -100px;
    color: rgb(255, 255, 255);
    text-shadow:0.05em 0.05em rgb(0, 0, 0) ;
    animation: crz infinite 1.3s linear;
    animation-direction: alternate;
    font-weight: bold;
    font-size: 35px;
}
.bodyz .txz1{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.bodyz .txz2{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.bodyz .txz3{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.bodyz .txz4{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.button-savez{
    margin: 5px 5px;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 5px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    transition: 0.4s;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}
.button-savez:hover{
    background-color: rgba(55, 188, 126, 0.8);
}
.loginz{
    top: 20px;
    margin: 20px 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 50px;
    border-radius: 50px;
    background-color: rgba(24, 24, 24,0.7);
    text-align: center;
    background-size: cover;
    background-position:center;
    position: relative;
    
    
}

.inputz{
    padding: 10px;
    
}
.menuoz .boxs-bgz1:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    
}
.menuoz .boxs-bgz2:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    

}
.menuoz .boxs-bgz3:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    
}
.menuoz .boxs-bgz4:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    
}
.boxs-bgz1{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.boxs-bgz2{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    
}
.boxs-bgz3{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    
}
.boxs-bgz4{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    
}
@keyframes logorz {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes crz{
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0px);
    }
    0%   {color:rgb(0, 0, 0)}
    50%  {color:rgb(119, 59, 59)}
    100%  {color:rgb(255, 255, 255)}
  } 
  .button-savez:hover{
    transform: translateY(-3px);
    transition: 0.4s;
    position: relative;
  }

  .box-bgz1{
    
    text-shadow:0.05em 0.05em rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 0.5px;
    position:absolute;
    font-weight: bold;
    
    left: 8%;
    cursor: default;
    
}
.bodyz .email2{
    padding-left: 29%;
    text-align: left;
    color: rgb(255, 255, 255);
    text-shadow:0.05em 0.05em rgb(0, 0, 0) ;
    font-weight: bold;
}
.bodyz{
    font-weight: bold;
    
}
