* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Bahnschrift SemiBold';
    font-style: normal;
}

* a {
    text-decoration: none;
}

* li {
    list-style: none;
}
.containerzz{
    position: relative;
    min-height: 100vh;
    min-width: 200vh;
    
}
.header-webzz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-image: url("fireflies2.gif");
    
    color: #fff;
}
.menuozz{
    position: relative;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 0px;
    border: 2px solid rgb(0, 0, 0);
    
}
.logorzz {
    font-size: 4rem;
    color: #fff;
    animation: logorzz infinite 15s linear;
}

.menuozz ul{
    display: flex;
    transition: 0.4s;
    grid-gap: 10px;
    width: 20%;
   
}
.menuozz ul li{
    padding: 0 50px;
    transition: 0.4s;
}
.menuozz ul li a{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    
}
.bgrzz {
    
    width: 100%;
    height: 100%;
    position: relative;
}
.bgrzz::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-image: url("giphy3.gif");
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    background-attachment: fixed;
}

.body-CreateAccountzz {
    margin: auto auto;
    top: 50px;
    width: 60%;
    background-color: aquamarine;
    padding: 100px;
    background-size: cover;
    text-align: center;
    position: relative;
    
    background-image: url("co4.webp");
    border-radius: 50px;
    text-shadow:0.1em 0.1em rgb(0, 0, 0) ;
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    cursor: default;
    
}
.crzz:hover{
    transform: translateY(-5px);
   
 }
.bodyzz h2,.crzz {
    margin-top: -20px;
    border: 2px solid rgb(0, 0, 0);
    background-image: url("giphy.gif");
    border-radius: 25px;
    top: -100px;
    color: rgb(255, 255, 255);
    text-shadow:0.05em 0.05em rgb(0, 0, 0) ;
    animation: cr infinite 1.5s linear;
    animation-direction: alternate;
    font-weight: bold;
    font-size: 35px;
}
.bodyzz .txzz1{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.bodyzz .txzz2{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.bodyzz .txzz3{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.bodyzz .txzz4{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}


.loginzz{
    top: 20px;
    margin: 20px 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 50px;
    border-radius: 50px;
    background-color: rgba(24, 24, 24,0.7);
    text-align: center;
    background-size: cover;
    background-position:center;
    position: relative;
    
    
}

.inputzz{
    padding: 10px;
    
}
.menuozz .boxs-bgzz1:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    
}
.menuozz .boxs-bgzz2:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    

}
.menuozz .boxs-bgzz3:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    
}
.menuozz .boxs-bgzz4:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    
}
.boxs-bgzz1{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.boxs-bgzz2{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.boxs-bgzz3{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.boxs-bgzz4{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    
}
@keyframes logorzz {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes crzz{
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0px);
    }
  } 
 
  .box-bgzz1{
    
    text-shadow:0.05em 0.05em rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 0.5px;
    position:absolute;
    font-weight: bold;
    
    left: 8%;
    cursor: default;
    
}
.bodyzz .email2{
    padding-left: 29%;
    text-align: left;
    color: rgb(255, 255, 255);
    text-shadow:0.05em 0.05em rgb(0, 0, 0) ;
    font-weight: bold;
}
.bodyzz{
    font-weight: bold;
    
}
.emaill{
    font-size: 20px;
    color: #fff;
    text-shadow:0.05em 0.05em rgb(255, 0, 0);
}
.namee{
    font-size: 20px;
    color: #fff;
    text-shadow:0.05em 0.05em rgb(255, 0, 0);
}
.scoree{
    font-size: 20px;
    color: #fff;
    text-shadow:0.05em 0.05em rgb(255, 0, 0);
}
.coinn{
    font-size: 20px;
    color: #fff;
    text-shadow:0.05em 0.05em rgb(255, 0, 0);
}
.scoref{
    font-size: 20px;
    color: #fff;
    text-shadow:0.05em 0.05em rgb(255, 0, 0);
}
