*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Bahnschrift SemiBold';
    font-style: normal;

}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
    
}
.containerhm{
    position: relative;
    min-height: 100vh;
    min-width: 200vh;
}
.bghm{
    width: 100%;
    height: 110%;
    position: relative;

}
.bghm::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 110%;
    background-image: url("giphy3.gif");
    z-index: -2;
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    background-attachment: fixed;
}


.menuhm{
    position: relative;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 0px;
    border: 2px solid rgb(0, 0, 0);
}
.logohm {
    font-size: 4rem;
    color: #fff;
    animation: logohm infinite 15s linear;
}

.menuhm ul{
    display: flex;
    transition: 0.4s;
    grid-gap: 10px;
    padding: 0 140px;
    
   
}
.menuhm ul li{
    padding: 0 50px;
    transition: 0.4s;
}
.menuhm ul li a{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    
}
/*contain*/
.containhm .headerhm{
    transition: 0.5s;
    animation: headerh infinite 1s linear;
    animation-direction: alternate;
}
.containhm .headerhm h3{
    font-size: 40px;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(3, 25, 28) ;
    position: relative;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
    cursor: default;
}
.containhm .headerhm h1{
    font-size: 40px;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(3, 25, 28) ;
    position: relative;
    letter-spacing: 1px;
    text-align: center;
    
}

.containhm .headerhm{
    width: 100%;
    opacity: 1;
    
}


.containhm .boxm, .h2{
    font-size: 40px;
    text-shadow:0.05em 0.05em rgb(6, 33, 30) ;
}

.containhm .headerhm:hover{
    transform: translateY(-15px);
    
}
.containhm .boxhm:hover{
    transform: translateY(-15px);
}

.menuhm .box-bghm2:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menuhm .box-bghm3:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menuhm .box-bghm4:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    
}
.menuhm .box-bghm5:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
    
}
.box-bghm1{
    
    text-shadow:0.05em 0.05em rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 0.5px;
    position:absolute;
    font-weight: bold;
    
    left: 7%;
    cursor: pointer;
    
}
.box-bghm2{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.box-bghm3{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    
}
.box-bghm4{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    
}

.box-bghm5{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    
}
@keyframes logohm {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 
 
 
 @keyframes headerhm {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
      
    }
  }

.bogm1{
    position: relative;
    width: 400px;
    height: 30vh;;
    
    align-items: center;
    background-image: url("co.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 25px;
    border: 2px solid rgb(215, 183, 1);
    color: rgb(215, 183, 1);
    font-size: 35px;
    padding-top: 21%;
    cursor: pointer;
    text-shadow:0.05em 0.05em rgb(0, 0, 0) ;
    font-weight: bold;
 
    
    
}
.bogm2{
    position: relative;
    width: 400px;
    height: 30vh;
    
    align-items: center;
    background-image: url("co1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 25px;
    border: 2px solid rgb(215, 183, 1);
    color: rgb(215, 183, 1);
    font-size: 35px;
    padding-top: 21%;
    cursor: pointer;
    text-shadow:0.05em 0.05em rgb(0, 0, 0) ;
    font-weight: bold;
 
    
}
.bogm3{
    position: relative;
    width: 400px;
    height: 30vh;
    
    align-items: center;
    background-image: url("co2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 25px;
    border: 2px solid rgb(215, 183, 1);
    color: rgb(215, 183, 1);
    font-size: 35px;
    padding-top: 21%;
    cursor: pointer;
    text-shadow:0.05em 0.05em rgb(0, 0, 0) ;
    font-weight: bold;

    
}
.bogm4{
    
    width: 400px;
    height: 30vh;
    
    align-items: center;
    background-image: url("co3.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 25px;
    border: 2px solid rgb(215, 183, 1);
    color: rgb(215, 183, 1);
    font-size: 35px;
    padding-top: 21%;
    cursor: pointer;
    text-shadow:0.05em 0.05em rgb(0, 0, 0) ;
    font-weight: bold;
    
    
}
.carddm li{
    
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    
    
}

.carddm{
    padding-top: 0%;
    
    font-size: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 6% ;
    column-gap: 10px;
    margin-left: 15%;
    
    margin-top: 4%;
    text-shadow:0.05em 0.05em rgb(255, 255, 255) ;
    font-weight: bold;
    filter: brightness(80%);
    

    transition: 0.5s;
    animation: carddm infinite 1s linear;
    animation-direction: alternate;
    
}
@keyframes carddm {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
      
    }
  }
  .bogm1:hover{
      transform:translateY(-15px);
      transition: 0.5s;
      border: 3px solid rgb(176, 255, 145);
  }
  .bogm2:hover{
    transform:translateY(-15px);
    transition: 0.5s;
    border: 3px solid rgb(176, 255, 145);
} .bogm3:hover{
    transform:translateY(-15px);
    transition: 0.5s;
    border: 3px solid rgb(176, 255, 145);
} .bogm4:hover{
    transform:translateY(-15px);
    transition: 0.5s;
    border: 3px solid rgb(176, 255, 145);
}


