*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lucida Handwriting;
}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
}
.container{
    position: relative;
    min-height: 100vh;
}
.bg{
    width: 100%;
    height: 120%;
    position: relative;

}
.bg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url("giphy3.gif");
    z-index: -2;
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    background-attachment: fixed;
}


.menu{
    position: relative;
    width: 95%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
}
.logo {
    font-size: 4rem;
    color: #fff;
    animation: logo infinite 15s linear;
}

.menu ul{
    display: flex;
    transition: 0.4s;
    grid-gap: 10px;
    
   
}
.menu ul li{
    padding: 0 50px;
    transition: 0.4s;
}
.menu ul li a{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    
}
/*contain*/
.contain .header{
    transition: 0.5s;
    animation: header infinite 1s linear;
    animation-direction: alternate;
}
.contain .header h3{
    font-size: 40px;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(3, 25, 28) ;
    position: relative;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
    cursor: default;
}
.contain .header h1{
    font-size: 40px;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(3, 25, 28) ;
    position: relative;
    letter-spacing: 1px;
    text-align: center;
    cursor: default;
}

.contain .header{
    width: 100%;
    opacity: 1;
    
}
.grid-card{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 25px;
    font-size: 30px;
    background-position: center;
    border:10px black;
    position: relative;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(3, 25, 28) ;
    animation: grid-card infinite 1s linear;
    animation-direction: alternate;
    
}
.grid-card table{
    width: 1000px;
    height: 600px;
    background-position: center;
    background-size: cover;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    position: relative;
    transition: 0.4s;
    cursor: default;
    
	vertical-align:bottom;
    border-collapse: collapse;
}
.grid-card table th{
    background-image: url("giphy.gif");
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
}

.contain .box, .h2{
    font-size: 40px;
    text-shadow:0.05em 0.05em rgb(6, 33, 30) ;
    
}
.contain .header:hover{
    transform: translateY(-15px);
    
}
.contain .box:hover{
    transform: translateY(-15px);
}
.menu .box-bg1:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menu .box-bg2:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menu .box-bg3:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menu .box-bg4:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.box-bg1{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.box-bg2{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.box-bg3{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.box-bg4{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
@keyframes logo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  table, th, td {
    border: 5px solid black;
    position: relative;
    transition: 0.4s;
    
 }
 .grid-card table:hover{
    transform: translateY(-5px);
   
 }
 @keyframes header {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
      
    }
  }
  @keyframes grid-card {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
      
    }
  }
  .box-bg0{
    
    text-shadow:0.05em 0.05em rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 0.5px;
    position:absolute;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    left: 7%;
    cursor: default;
    
}

