*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Bahnschrift SemiBold';
    font-style: normal;

}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
}
.containeryr{
    position: relative;
    min-height: 100vh;
    min-width: 200vh;
}
.bgyr{
    width: 100%;
    height: 100%;
    position: relative;

}
.bgyr::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180%;
    background-image: url("giphy3.gif");
    z-index: -2;
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    background-attachment: fixed;
}


.menuyr{
    position: relative;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 0px;
    border: 2px solid rgb(0, 0, 0);
}
.logoyr {
    font-size: 4rem;
    color: #fff;
    animation: logoyr infinite 15s linear;
}

.menuyr ul{
    display: flex;
    transition: 0.4s;
    grid-gap: 10px;
    
   
}
.menuyr ul li{
    padding: 0 50px;
    transition: 0.4s;
}
.menuyr ul li a{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    
}
/*contain*/
.containyr .headeryr{
    transition: 0.5s;
    animation: headeryr infinite 1s linear;
    animation-direction: alternate;
}
.containyr .headeryr h3{
    font-size: 40px;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(3, 25, 28) ;
    position: relative;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
    cursor: default;
}
.containyr .headeryr h1{
    font-size: 40px;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(3, 25, 28) ;
    position: relative;
    letter-spacing: 1px;
    text-align: center;
    cursor: default;
}

.containyr .headeryr{
    width: 100%;
    opacity: 1;
    
}




.containyr .boxyr, .h2{
    font-size: 40px;
    text-shadow:0.05em 0.05em rgb(6, 33, 30) ;
    
}
.containyr .headeryr:hover{
    transform: translateY(-15px);
    
}
.containyr .boxyr:hover{
    transform: translateY(-15px);
}
.menuyr .box-bgyr1:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menuyr .box-bgyr2:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menuyr .box-bgyr3:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menuyr .box-bgyr4:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.box-bgyr1{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.box-bgyr2{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.box-bgyr3{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.box-bgyr4{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
@keyframes logoyr {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 

 @keyframes headeryr {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
      
    }
  }

  .showr .lir1{
    background-image: url("lir1.jpg");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    
   

    font-weight: bold;
    text-align: center;
    width: 450px;
    height: 40vh;
}
.showr .lir2{
    background-image: url("lir2.jpg");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    
    
    font-weight: bold;
    text-align: center;
    width: 450px;
    height: 40vh;
}
.showr .lir3{
    background-image: url("lir3.jpg");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    
    
    font-weight: bold;
    text-align: center;
    width: 450px;
    height: 40vh;
}
.showr .lir4{
    background-image: url("lir4.jpg");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
   
    
    font-weight: bold;
    text-align: center;
    width: 450px;
    height: 40vh;
}
.showr .lir5{
    background-image: url("lir5.jpg");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
   
    
    font-weight: bold;
    text-align: center;
    width: 450px;
    height: 40vh;
}
.showr li{
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    text-shadow: 0.05em 0.05em rgb(6, 33, 30);
}
.showr li h1{
    font-size: 20px;
}
.showr{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px ;
    column-gap: 150px;
    margin-left: 15%;
    margin-top: 4%;
    position:absolute;
    background-attachment: fixed;
    
    
}
 

.lir1:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}
.lir2:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}.lir3:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}.lir4:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}.lir5:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}