* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Bahnschrift SemiBold';
    font-style: normal;
}

* a {
    text-decoration: none;
}

* li {
    list-style: none;
}

.container{
    position: relative;
    min-height: 100vh;
    min-width: 200vh;
}
.header-web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-image: url("fireflies2.gif");
    color: #fff;
    
}
.menuo{
    position: relative;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border: 5px #fff;
    border-radius: 0px;
    border: 2px solid rgb(0, 0, 0);
    
}
.logor {
    font-size: 4rem;
    color: #fff;
    animation: logor infinite 15s linear;
}

.menuo ul{
    display: flex;
    transition: 0.4s;
    grid-gap: 10px;
    width: 20%;
   
}
.menuo ul li{
    padding: 0 50px;
    transition: 0.4s;
}
.menuo ul li a{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    
}
.bgr {

    width: 100%;
    height: 100%;
    position: relative;
}
.bgr::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url("fireflies.gif");
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    background-attachment: fixed;
}

.body-CreateAccount {
    margin: auto auto;
    top: 50px;
    width: 60%;
    background-color: aquamarine;
    padding: 50px 180px;
    background-size: cover;
    text-align: center;
    position: relative;
    
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50px;
    text-shadow:0.1em 0.1em rgb(0, 0, 0) ;
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    cursor: default;

}
.cr:hover{
    transform: translateY(-5px);
   
 }
.body h2,.cr {
    
    padding-top: 30px;
    border-radius: 25px;
    
    color: rgb(255, 255, 255);
    text-shadow:0.05em 0.05em rgb(0, 0, 0) ;
    animation: cr infinite 1.5s linear;
    animation-direction: alternate;
    font-weight: bold;
    font-size: 40px;
    
}
.body .tx1{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.body .tx2{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.body .tx3{
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.body .tx4{
    margin: 5px ;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
}
.button-save{
    margin: 5px 5px;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 5px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    transition: 0.4s;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    
}
.login{
    top: 6%;
    margin: 10% 0;
    border: 1px solid rgb(255, 255, 255);
    padding: 5%;
    border-radius: 25px;
    background-color: rgb(24, 24, 24);
    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
}
.input{
    padding: 10px;
}
.menuo .boxs-bg1:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menuo .boxs-bg2:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menuo .boxs-bg3:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.menuo .boxs-bg4:hover{
    transform: translateY(-5px);
    transition: 0.4s;
    position: relative;
}
.boxs-bg1{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.boxs-bg2{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.boxs-bg3{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}
.boxs-bg4{
    background-image: url("boxbg.png");
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
    
}
@keyframes logor {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes cr {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0px);
    }
  } 
  .button-save:hover{
    transform: translateY(-3px);
    transition: 0.4s;
    position: relative;
  }
  .body .email1{
    padding-left: 25%;
    text-align: left;
    color: #fff;
    text-shadow:0.1em 0.1em rgb(0, 0, 0) ;
}